:root {
    --white-color:#fff;
    --black-color: #000;
    --primary-color: #D96AA7;
    --secondary-color: #422C73;
    --complimentary-color: #88BFB5;
    --contrast-color: #F2E527;
    --light-color: #D2A9D9;
}

a {
    text-decoration: none;
    transition: color 0.2s linear;
}

h1 {
    font-weight: bold ;
}

* {
    box-sizing: inherit;
}

.clear {
    clear: both;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column-3 {
    width: 25%;
    padding: 0 15px;
}

.grid__column-4 {
    width: 33.3333333%;
    padding: 0 15px;
}

.grid__column-8 {
    width: 66.6666667%;
}

.grid__column-6 {
    width: 50%;
    padding: 0 15px;
}

.grid__column-5 {
    width: 20%;
    padding: 0 15px;
}

.grid__column-2 {
    width: 16.66666%;
}

.grid__column-9 {
    width: 80%;
}

.grid__column-2-3 {
    width: 20%;
    padding: 0 15px;
}

